head
    block title
        title D3.js get started

    block style
        link(href='/public/css/styles.css' rel='stylesheet')
body
    block main

    script(src='/node_modules/d3/build/d3.js')

    block scripts
        script(src=`/public/js/${chapter}/${page}.js`)