extends ../layout

block main
    div(id='color' class='clear')
        span Linear Color Interpolation
            br

    div(id='color-diverge' class='clear')
        span Poly-Linear Color Interpolation
            br