extends ../layout

block main
    div.
        <h4>Line Tension:</h4>
        <div class="control-group">
            <button onclick="render(0)">0</button>
            <button onclick="render(0.2)">0.2</button>
            <button onclick="render(0.4)">0.4</button>
            <button onclick="render(0.6)">0.6</button>
            <button onclick="render(0.8)">0.8</button>
            <button onclick="render(1)">1</button>
        </div>